.category-box {
    display: inline-block;
    position: relative;
    height: 100%;
}

.option-select__default.visibleRadio[data-v-a475b1a4] {
    position: absolute;
    opacity: 1;
    top: 15px;
    left: 100%;
    right: 15px;
    height: 50px;
    width: 50px;
    -webkit-transform: translate(-60px, -5px);
    transform: translate(-60px, -5px);
    background: #eff0f0;
    border: 1px solid #17b3e4;
    outline: none;
    border-radius: 50%;
    -webkit-appearance: none;
}

.option-select__box {
    text-align: center;
    width: auto;
    -webkit-box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 60%);
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 60%);
    padding: 30px;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #d5d4d6;
    margin-bottom: 0;
}

.category-box__img {
    text-align: center;
    width: 90px;
    padding-bottom: 20px;
}

.category-box__header {
    text-align: center;
    padding-bottom: 18px;
    font-size: 24px;
}

.category-box__para {
    text-align: left;
    font-size: 18px;
    line-height: 25px;
    color: #72797a;
}

.card-section {
    max-width: 728px;
    margin: 0 auto;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
}

.modal-backdrop {
    z-index: 1040 !important;
}