.sidenav {
    width: 350px;
    height: auto;
    background-color: #05304c;
    color: #fff;
    padding: 15px 0px 15px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 40px 0px 40px 30px;
    box-shadow: 0px 3px 3px #bbb;
}

.sidenav li {
    line-height: 35px;
    cursor: pointer;
}

.sidenav ul {
    padding: 0px 40px 0px 40px;
    margin-bottom: 0px;
    width: 100%;
}

.formDivs {
    margin: 40px 100px 0px 0px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 3px #bbb;
}

.header {
    background-color: #05304c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.field {
    margin-bottom: 5px;
}

.labels {
    display: block;
    line-height: 40px;
    color: #05304c;
    background: #FFE600;
    width: 55px;
    text-align: center;
    font-family: "MuseoSans400Regular", Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 37px;
    border-radius: 3px;
}

.butn {
    background-color: #FFE600;
    color: #004564;
}

.alert {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

.spans {
    display: flex;
    justify-content: left;
}



.liControl {
    font-weight: 900;
}